.contact-section {
    width: 100%;
}

.box{
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.square{
    background-color: var(--purple-500);
    color: var(--grey-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width:  7rem;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.square:hover{
    background-color: var(--purple-400);
}