.box{
    height: 13.75rem;
    width: 41.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.square{
    background-color: #dae1e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    width: 12.5rem;
    letter-spacing: 0.031rem;
}