.accordion-wrapper{
  background-color: #fef8ee;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  contain: content;
}

.accordion{
  color: #505769;
  background-color: #dae1e6;
  border: none;
  border-color: darkgrey;
  height: 4vh;
  font-size: large;
  height: 50px;
  letter-spacing: .5px;
}

.accordion:hover{
  cursor: pointer;
  color: cornflowerblue;
}

.expanded-accordion{
  display: flex;
  letter-spacing: .5px;

}

.arrow{
  background-color: #dae1e6;
  font-size: xx-large;
  border: none;
  border-color: darkgrey;
}

.arrow:hover{
  cursor: pointer;
}