.accordion-wrapper{
  background-color: yellow;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.accordion{
  border: solid;
  border-color: darkgrey;
  height: 4vh;
}

.arrow{
  font-size: xx-large;
  border: solid;
  border-color: darkgrey;
}