nav{
    background-color: #B6C4CD;
    height: 3.125rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.25rem solid #dae1e6;
}

.navlink{
    color: #4c5365;
    text-decoration: none;
    font-size: large;
}

.navlink:hover{
    text-decoration: none;
    font-size: large;
    color: cornflowerblue;
}

