header {
    display: flex;
    background-color: var(--yellow-500);
    border-bottom: 0.5rem solid var(--yellow-300);
    height: 4rem;
}

.header-logo {
    object-fit: contain;
    width: 5em;
    border: none;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: var(--grey-900);
    padding-left: 5%;
}

.navlink {
    color: var(--grey-900);
    text-decoration: none;
    font-size: large;
}

.navlink:hover {
    text-decoration: none;
    font-size: large;
    color: var(--purple-400);
}
